.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 13px;
}

body {
  font-family: "Open Sans";
  background-color: #f7f9fd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
  font-weight: 600;
  color: #00252e;
}

p {
  color: #808d99;
}

a {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem;
}

.button {
  font-size: 1rem;
  display: block;
  border-radius: 3px;
  padding: 1rem 3rem;
  display: block;
  background: #fff;
  border: none;
  margin: 0 auto;
}

.button--pink {
  background: #ff52bf;
  color: #fff;
}

.shadow--pink {
  -webkit-box-shadow: 0 0 8px rgba(255, 82, 191, 0.7);
          box-shadow: 0 0 8px rgba(255, 82, 191, 0.7);
}

.section {
  margin-bottom: 10rem;
}

.details__img {
  display: block;
  width: 92.5%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  margin-bottom: 10rem;
}

h1 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.15rem;
}

.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo {
  height: 20px;
}

.button--white {
  font-size: .9rem;
  padding: 0 2rem;
  background-color: white;
  color: #00252e;
  margin: 0;
}

.hero {
  margin-top: 7rem;
}

.hero__img {
  display: block;
  width: 93%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.hero__headline {
  text-align: center;
  margin-bottom: 2rem;
}

.hero__subhead {
  font-weight: 400;
  text-align: center;
  color: #808d99;
  margin-bottom: 2.6rem;
}

.details {
  text-align: center;
}

.card__title {
  margin-bottom: 2rem;
}

.card__copy {
  margin-bottom: 3.5rem;
}

.card__copy:last-child {
  margin-bottom: 0;
}

.cta {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 2rem 7.5rem 2rem;
  text-align: center;
  padding: 2.5rem 1.5rem;
}

.cta__title {
  margin-bottom: 1rem;
}

.cta__copy {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.cta__button {
  font-size: .8rem;
}

.footer {
  background-color: #00252e;
  padding: 9.5rem 2rem 2.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__brand {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 7rem;
}

.logo--footer {
  height: 2.1rem;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  margin: 0 auto;
}

.social {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.nav {
  margin-bottom: 7rem;
}

.nav__item {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.nav__item:last-child {
  margin-bottom: 0;
}

.nav__link {
  color: #fff;
}

.subscribe {
  text-align: center;
  margin-bottom: 7rem;
}

.subscribe__title {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.subscribe__copy {
  color: #fff;
  margin-bottom: 1.5rem;
}

.subscribe__input {
  height: 4rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.subscribe__button {
  height: 4rem;
  width: 100%;
}

.social {
  text-align: center;
  color: #fff;
}

.social__list {
  margin-bottom: 2rem;
}

.social__link {
  font-size: 2rem;
  color: #fff;
  margin-right: 1rem;
}

.social__link:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .container--header {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 74px;
  }
  .button--white {
    padding: 1rem 3.7rem;
  }
  .logo {
    height: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */